<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
درآمد
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم درخت تصمیمی بسازیم که قادر باشد با دریافت یک سری ویژگی‌های شخصی و شغلی از شهروندان آمریکایی پیش‌بینی کند آیا شخص درآمد سالانه‌ی بالای ۵۰ هزار دلار خواهد داشت یا خیر. مجموعه‌داده‌ی مورداستفاده و صورت مسئله بسیار خوش‌تعریف است، با این حال جهت پیش‌پردازش مناسب ویژگی‌ها و همچنین دست‌یابی به یک مدل  با عملکرد بالا نیاز است از تکنیک‌های مختلف مهندسی ویژگی و فوت‌و‌فن‌های مرتبط با درخت تصمیم که در درسنامه‌ها آموخته‌اید استفاده کنید. بهره‌گیری از این تکنیک‌ها جهت مواجهه با چالش‌های عملی می‌تواند به‌خوبی شما را برای استفاده از این مدل در دنیای واقعی آماده کند.‌
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [309]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه‌داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    هر نمونه از این مجموعه‌داده با ویژگی‌هایی که در جدول زیر شرح داده شده همراه است. ستون <code>income</code> متغیر هدف مسئله است که درآمد شخص را نشان می‌دهد. 
</font>
</p>
<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|age|سن|
|workclass|یک عبارت کلی که نشان‌دهنده‌ی وضعیت شغلی فرد است.|
|fnlwgt|وزن نهایی، به عبارت دیگر تعداد افرادی که سرشماری باور دارد این ردیف بازنمایی می‌کند (نماینده‌ی آنهاست). |
|education|بیشترین سطح تحصیلات فرد |
|education.num|بیشترین سطح تحصیلات فرد به شکل عددی |
|marital.status|وضعیت تاهل فرد. توجه شود که <code>Married-­civ-­spouse</code> به معنی همسر غیرنظامی و <code>Married-­AF-­spouse</code> به معنی همسر نظامی است.|
|occupation|نوع کلی شغل یک فرد |
|relationship|رابطه‌ی این فرد با دیگران، به عنوان مثال همسر (<code>Husband</code>). هر داده تنها دارای یک رابطه است. |
|race|نژاد |
|sex| جنسیت بیولوژیکی فرد |
|capital.gain|سود سرمایه‌ی فرد  |
|capital.loss| زیان سرمایه‌ی فرد |
|hours.per.week| ساعت‌هایی که فرد گزارش داده در یک هفته کار می‌کند. |
|native.country| سرزمین مادری |
|income|درآمد، کمتر یا مساوی ۵۰ هزار دلار (<code dir=ltr><=50K</code>) یا بیشتر از آن (<code dir=ltr>>50K</code>) |

</font>
</div>
</center>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه‌داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از مجموعه‌ی آموزشی را به عنوان مجموعه‌ی اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [310]:
train_data = pd.read_csv('../data/train.csv',na_values=['?'])
train_data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,NaN,148657,Preschool,1,Married-civ-spouse,NaN,Wife,White,Female,0,0,40,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,40,Private,130834,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
24996,31,Local-gov,33124,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
24997,38,Federal-gov,190895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,NaN,>50K
24998,23,Private,420973,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24999,60,Private,88055,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K

In [311]:
test_data = pd.read_csv('../data/test.csv',na_values='?')

test_data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,31,Private,176711,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,38,United-States
1,40,Private,120277,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States
2,43,Private,299197,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
3,70,Self-emp-inc,188260,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,16,United-States
4,51,Private,254211,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,20,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7159,37,Self-emp-not-inc,75050,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States
7160,36,Private,156780,HS-grad,9,Never-married,Sales,Other-relative,Asian-Pac-Islander,Female,0,0,40,NaN
7161,34,Private,381153,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
7162,59,Private,294395,Masters,14,Widowed,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
7163,24,State-gov,506329,Some-college,10,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Male,0,0,40,NaN

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید. توجه داشته باشید که انتخاب شما در بخش بعدی یعنی مدل‌سازی می‌تواند مراحلی که در این بخش طی می‌کنید را تحت تاثیر قرار دهد. بنابراین پیشنهاد می‌کنیم مواردی همچون مدیریت مقادیر گم‌شده، ویژگی‌های دسته‌ای و غیره را پس از مطالعه‌ی بخش بعد انجام دهید.
    <br>
    تکنیک‌هایی که در این بخش استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [312]:
train_data.groupby('native.country')['native.country'].value_counts()

native.country              native.country
Cambodia                    Cambodia                         15
Canada                      Canada                           87
China                       China                            58
Columbia                    Columbia                         47
Cuba                        Cuba                             80
Dominican-Republic          Dominican-Republic               57
Ecuador                     Ecuador                          25
El-Salvador                 El-Salvador                      75
England                     England                          68
France                      France                           22
Germany                     Germany                         105
Greece                      Greece                           18
Guatemala                   Guatemala                        49
Haiti                       Haiti                            33
Honduras                    Honduras                         10
Hong                        Hong                             15
Hungary                     Hungary                          11
India                       India                            79
Iran                        Iran                             23
Ireland                     Ireland                          14
Italy                       Italy                            51
Jamaica                     Jamaica                          67
Japan                       Japan                            48
Laos                        Laos                             14
Mexico                      Mexico                          502
Nicaragua                   Nicaragua                        24
Outlying-US(Guam-USVI-etc)  Outlying-US(Guam-USVI-etc)       12
Peru                        Peru                             23
Philippines                 Philippines                     142
Poland                      Poland                           46
Portugal                    Portugal                         29
Puerto-Rico                 Puerto-Rico                      85
Scotland                    Scotland                         11
South                       South                            63
Taiwan                      Taiwan                           39
Thailand                    Thailand                         15
Trinadad&Tobago             Trinadad&Tobago                  17
United-States               United-States                 22415
Vietnam                     Vietnam                          57
Yugoslavia                  Yugoslavia                       12
Name: native.country, dtype: int64

In [313]:
train_data.describe(include='all')

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
count,25000.00000,23571,2.500000e+04,25000,25000.000000,25000,23566,25000,25000,25000,25000.000000,25000.000000,25000.000000,24563,25000
unique,NaN,8,NaN,16,NaN,7,14,6,5,2,NaN,NaN,NaN,40,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,17471,NaN,8025,NaN,11518,3198,10146,21328,16718,NaN,NaN,NaN,22415,18955
mean,38.60916,NaN,1.896611e+05,NaN,10.076320,NaN,NaN,NaN,NaN,NaN,1083.144040,87.489800,40.442800,NaN,NaN
std,13.68660,NaN,1.054713e+05,NaN,2.576967,NaN,NaN,NaN,NaN,NaN,7321.971568,402.830246,12.309706,NaN,NaN
min,17.00000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.00000,NaN,1.179830e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.00000,NaN,1.782110e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.00000,NaN,2.370682e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.00000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [314]:
train_data.isnull().sum()

age                  0
workclass         1429
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1434
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     437
income               0
dtype: int64

In [327]:

train_data['capital.loss'] = train_data['capital.loss'] *-1
test_data['capital.loss'] = train_data['capital.loss'] *-1

In [316]:
train_data.drop(columns=['education'],inplace=True)
test_data.drop(columns=['education'],inplace=True)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند. در این تمرین انتخاب کتابخانه‌ای که درخت تصمیم را در اختیارتان بگذارد به عهده‌ی خود شماست. می‌توانید همچون همیشه از کتابخانه‌ی <code>scikit-learn</code> استفاده کنید اما توجه داشته باشید که درخت تصمیم این کتابخانه از قابلیت‌های مهمی مثل مدیریت مستقیم مقادیر گم‌شده و ویژگی‌های دسته‌ای پشتیبانی نمی‌کند و نیاز خواهید داشت که مراحل پیش‌پردازش مختلفی را انجام دهید. اما پیشنهاد بهتر این است که با توجه به توضیحاتی که در ادامه خواهیم داد از کتابخانه‌ی <code>H2O</code> استفاده کنید که از قابلیت‌های ذکرشده پشتیبانی می‌کند و نیازی به طی کردن مراحل اضافی نیست (البته معمولاً عملکرد درخت تصمیم این کتابخانه هم بهتر از درخت تصمیم <code>scikit-learn</code> است). با این حال ما مقدار آستانه‌ی پاس شدن این تمرین را به‌گونه‌ای تنظیم کرده‌ایم که متعادل باشد و با هر دو روش بتوانید امتیاز موردنظر را کسب کنید. حتی می‌توانید خفن‌تر (😎) عمل کرده و با هرکدام از کتابخانه‌ها درخت تصمیمی بسازید و عملکرد آن‌ها را مقایسه کنید. 
</font>
</p>

<h3 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    استفاده از <code>scikit-learn</code>
</font>
</h3>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    به منظور استفاده از درخت تصمیم برای مسائل دسته‌بندی می‌توانید از <code>DecisionTreeClassifier</code> موجود در کتابخانه‌ی <code>scikit-learn</code> استفاده کنید. نحوه‌ی آموزش مدل و پیش‌بینی برای نمونه‌های جدید همچون تمام مدل‌های این کتابخانه است، اما برخی پارامترها و آرگومان‌های بسیار کاربردی این کلاس در جدول زیر شرح داده شده‌اند. جهت بررسی پارامترها و توضیحات بیشتر می‌توانید از <a href="https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier" target="__blank">این لینک</a>، سند اصلی آن را مطالعه کنید.
</font>
</p>

<center>
<p dir=ltr style="direction: ltr; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    <code dir=ltr>from sklearn.tree import DecisionTreeClassifier</code>
    <br>
    <code dir=ltr>clf = DecisionTreeClassifier()</code>
</font>
</p>
</center>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|پارامتر|توضیحات|مقادیر ممکن|مقدار پیش‌فرض|
|:------:|:---:|:---:|:---:|
|<code>criterion</code>|معیار ارزیابی تفکیک (معیار ناخالصی یا بهره اطلاعاتی)|<code>"gini"</code>، <code>"entropy"</code> یا <code>"log_loss"</code>|<code>"gini"</code>|
|<code>max_depth</code>|حداکثر عمق درخت|عدد <code>int</code>|<code>None</code>|
|<code>min_samples_split</code>|حداقل نمونه‌ها جهت تفکیک یک گره‌ی داخلی|عدد <code>int</code> (تعداد) یا <code>float</code> (درصد)|<code>2</code>|
|<code>min_samples_leaf</code>|حداقل نمونه‌های یک برگ. یک گره تنها در صورتی تفکیک می‌یابد که هرکدام از شاخه‌های راست و چپ آن حداقل شامل این تعداد نمونه باشد|عدد <code>int</code> (تعداد) یا <code>float</code> (درصد)|<code>1</code>|
|<code>max_features</code>|تعداد ویژگی‌هایی که در هنگام جستجوی بهترین تفکیک بررسی می‌شوند|عدد <code>int</code> (تعداد)، <code>float</code> (درصد)، ، <code>"sqrt"</code> (جذر)، <code>"log2"</code> (لگاریتم در مبنای ۲) یا <code>None</code> (تمام ویژگی‌ها)|<code>None</code>|
|<code>min_impurity_decrease</code>|یک گره هنگامی تفکیک می‌شود که آن تفکیک باعث کاهش ناخالصی بیشتر یا مساوی این مقدار شود|عدد <code>float</code>|<code>0.0</code>|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    <b>نکته:</b>
    پارامتر کاربردی دیگری به نام <code>ccp_alpha</code> وجود دارد که به منظور پس‌هرس درخت تصمیم با روش Minimal Cost-Complexity استفاده می‌شود. از آنجا که شرح این تکنیک خارج از بحث این فصل است، ضرورتی بر استفاده از آن تعریف نشده است. اما در صورت علاقه می‌توانید برای مطالعه‌ی این روش جذاب به بخش <a href="https://scikit-learn.org/stable/modules/tree.html#minimal-cost-complexity-pruning" target="__blank">معرفی آن</a> در <code>scikit-learn</code> یا فصل سوم کتاب <i>Classification and Regression Trees</i> نوشته‌ی <i>Leo Breiman</i> مراجعه کرده و یا به شکلی ساده‌تر و جذاب‌تر <a href="https://youtu.be/D0efHEJsfHo" target="__blank">این ویدیو</a> را از <i>StatQuest</i> مشاهده کنید.  
</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    اگر مدل را <code>clf</code> بنامیم، پس از آموزش آن می‌توانید به کمک توابع یا متغیرهای زیر، برخی ویژگی‌های مهم درخت تصمیم را مورد بررسی قرار دهید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|پارامتر|توضیحات|
|:------:|:---:|
| <code dir=ltr>clf.get_depth()</code> | عمق درخت |
| <code dir=ltr>clf.get_n_leaves()</code> | تعداد برگ‌های درخت |
| <code dir=ltr>clf.feature_names_in_</code> | ویژگی‌های ورودی |
| <code dir=ltr>clf.feature_importances_</code> | اهمیت هر ویژگی طبق معیار ناخالصی |
    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    همچنین طبق کد زیر می‌توانید به کمک تابع <code>plot_tree</code> درخت تصمیم خود را ترسیم کنید. البته در صورتی‌که درخت حاصل بزرگ باشد ترسیم آن چندان جالب به نظر نخواهد رسید.
</font>
</p>

<center>
<p dir=ltr style="direction: ltr; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    <code dir=ltr>from sklearn import tree</code>
    <br>
    <code dir=ltr>tree.plot_tree(clf)</code>
</font>
</p>
</center>

<h3 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    استفاده از <code>H2O</code>
</font>
</h3>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در کتابخانه‌ی <code>H2O</code> درخت تصمیم به‌صورت مشخص پیاده‌سازی نشده اما به کمک ترفندی که شرح خواهیم داد می‌توانید به یک درخت تصمیم دست یابید. در این کتابخانه مدل‌های حرفه‌ای‌تری پیاده‌سازی شده که در واقع اساس آن‌ها درخت تصمیم است. یکی از این مدل‌ها «<i>جنگل تصادفی</i>» نام دارد که در این کتابخانه با نام <code>H2ORandomForestEstimator</code> در دسترس است و در فصل یادگیری تجمعی کاملاً با ساختار آن آشنا خواهید شد. این مدل در واقع متشکل از تعداد زیادی درخت تصمیم است. بنابراین اگر ما یک جنگل تصادفی بسازیم که تنها شامل یک درخت باشد  در واقع مدل همانند یک درخت تصمیم عمل خواهد کرد. البته نیاز است به شکل زیر برخی از پارامترهای آن را به گونه‌ای مقداردهی کنیم که رفتاری شبیه به درخت تصمیم داشته باشد.
</font>
</p>

<center>
<p dir=ltr style="direction: ltr; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
<code>from h2o.estimators import H2ORandomForestEstimator</code>
<br>
<code>model = H2ORandomForestEstimator(ntrees=1, sample_rate=1)</code>
</font>
</p>
</center>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برخی از پارامترهای کاربردی این کلاس نیز در جدول زیر معرفی و شرح داده شده است. جهت بررسی پارامترها و توضیحات بیشتر می‌توانید از <a href="https://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/drf.html" target="__blank">این لینک</a>، سند اصلی آن را مطالعه کنید.
</font>
</p>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|پارامتر|توضیحات|مقادیر ممکن|مقدار پیش‌فرض|
|:------:|:-----:|:---:|:---:|
|<code>mtries</code>|تعداد ویژگی‌هایی که به‌صورت تصادفی در هر سطح برای جستجوی بهترین تفکیک استفاده می‌شود| <code dir=ltr>-1</code> برای جذر، <code dir=ltr>-2</code> برای تمام ویژگی‌ها یا عدد بزرگتر یا مساوی <code>1</code> |<code dir=ltr>-1</code>|
|<code>max_depth</code>|حداکثر عمق درخت|عدد <code>int</code>|<code>20</code>|
|<code>min_rows</code>|حداقل نمونه‌های یک برگ. یک گره تنها در صورتی تفکیک می‌یابد که هرکدام از شاخه‌های راست و چپ آن حداقل شامل این تعداد نمونه باشد|عدد <code>int</code>|<code>1</code>|
|<code>min_split_improvement</code>|یک گره هنگامی تفکیک می‌شود که کاهش مربعات خطا حداقل به این میزان بهبود یابد|عدد کوچک (پیشنهاد می‌شود در بازه‌ی <code>1e-10</code> تا <code>1e-3</code> باشد)|<code>1e-05</code>|
|<code>categorical_encoding</code>|رویکرد مدیریت ویژگی‌های دسته‌ای|<code>"auto"</code> (به‌صورت پیش‌فرض معادل <code>"enum"</code>)، <code>"enum"</code> (پشتیبانی مستقیم از ویژگی دسته‌ای)، <code>"one_hot_explicit"</code> (کدگذاری one-hot)،  <code>"binary"</code> (کدگذاری باینری)، <code>"label_encoder"</code> (برچسب‌گذاری) و غیره|<code>"auto"</code>|
|<code>balance_classes</code>|متوازن‌سازی مجموعه‌داده به کمک نمونه‌افزایی کلاس اقلیت|<code>True</code> یا <code>False</code>|<code>False</code>|
|<code>nfolds</code>|تعداد قطعه‌ها در اعتبارسنجی متقاطع (cross-validation)|عدد <code>int</code>|<code>0</code>|
    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای استفاده از <code>H2O</code> پیش از هرچیز نیاز است مراحل راه‌اندازی آن را که در درسنامه‌ی مربوط به این کتابخانه شرح داده شد اجرا کرده باشید و همچنین دیتافریم‌های خود را به <code>H2OFrame</code> تبدیل کرده باشید. پس از آن می‌توانید به کمک مدل معرفی‌شده در بالا پارامترهای موردنظر خود را مقداردهی کنید. سپس جهت آموزش مدل نیاز است تابع <code dir=ltr>fit()</code> را با سه آرگومان مهم زیر صدا بزنید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|پارامتر|توضیحات|
|:------:|:-----:|
|<code>x</code>| لیستی شامل نام ستون‌های ورودی (ویژگی‌ها) |
|<code>y</code>| نام ستون متغیر هدف |
|<code>training_frame</code>| داده‌های آموزشی از جنس <code>H2OFrame</code> |
|<code>validation_frame</code>| داده‌های اعتبارسنجی از جنس <code>H2OFrame</code> (دلخواه)|

    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    جهت پیش‌بینی نیز می‌توانید <code>H2OFrame</code> موردنظر خود را به تابع <code dir=ltr>predict()</code> بدهید تا مدل شروع به پیش‌بینی متغیر هدف برای نمونه‌های موردنظر شما کند. توجه داشته باشید که اگر قصد دارید مقادیر پیش‌بینی‌شده را به یک دیتافریم <code>pandas</code> تبدیل کنید می‌توانید از تابع <code dir=ltr>as_data_frame()</code> استفاده کنید. مقادیر پیش‌بینی‌شده در ستونی به نام <code>predict</code> در دیتافریم به‌دست‌آمده ذخیره شده‌اند. 
</font>
</p>

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
آموزش مدل
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    اکنون وقت آن رسیده که با توجه به کتابخانه‌ی انتخابی، مدل را آموزش دهید.
</font>
</p>

In [317]:
import h2o
h2o.init()
train_data_h2o = h2o.H2OFrame(train_data)
test_data_h2o = h2o.H2OFrame(test_data)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.
Warning: Your H2O cluster version is too old (1 year and 2 days)!Please download and install the latest version from http://h2o.ai/download/

--------------------------  -----------------------------
H2O_cluster_uptime:         1 hour 17 mins
H2O_cluster_timezone:       +03:30
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.4
H2O_cluster_version_age:    1 year and 2 days !!!
H2O_cluster_name:           H2O_from_python_Danial_zmmz19
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.724 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.0 final
--------------------------  -----------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [318]:
train_data.drop(columns='income').columns

Index(['age', 'workclass', 'fnlwgt', 'education.num', 'marital.status',
       'occupation', 'relationship', 'race', 'sex', 'capital.gain',
       'capital.loss', 'hours.per.week', 'native.country'],
      dtype='object')

In [319]:
train, valid = train_data_h2o.split_frame(ratios=[0.75], seed=42)

In [320]:
from h2o.estimators import H2ORandomForestEstimator


model = H2ORandomForestEstimator(ntrees=1, sample_rate=1, mtries=-2, max_depth=10,
                                 min_rows=8, min_split_improvement=1e-4,
                                 balance_classes=True, nfolds=5)
features = list(train_data.drop(columns='income').columns)
target = 'income'

model.train(x=features, y=target, training_frame=train)

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1691263854522_960


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,1.0,1.0,3028.0,10.0,10.0,10.0,226.0,226.0,226.0

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: NaN
RMSE: NaN
LogLoss: NaN
Mean Per-Class Error: NaN
AUC: NaN
AUCPR: NaN
Gini: NaN

ModelMetricsBinomial: drf
** Reported on cross-validation data. **

MSE: 0.10411609415676192
RMSE: 0.322670256076946
LogLoss: 0.6799686644835381
Mean Per-Class Error: 0.18353899903859816
AUC: 0.8898953015223069
AUCPR: 0.7573711764695613
Gini: 0.7797906030446138

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.38254608310169436:

            <=50K    >50K   Error               Rate
0  <=50K  12029.0  2247.0  0.1574   (2247.0/14276.0)
1   >50K    953.0  3592.0  0.2097     (953.0/4545.0)
2  Total  12982.0  5839.0    0.17   (3200.0/18821.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.382546      0.691834  128.0
1                        max f2   0.135583      0.777317  262.0
2                  max f0point5   0.616364      0.717400   52.0
3                  max accuracy   0.539445      0.853621   72.0
4                 max precision   0.924302      0.951220    1.0
5                    max recall   0.000000      1.000000  399.0
6               max specificity   1.000000      0.995797    0.0
7              max absolute_mcc   0.498016      0.588027   85.0
8    max min_per_class_accuracy   0.294415      0.818922  168.0
9   max mean_per_class_accuracy   0.285093      0.820169  174.0
10                      max tns   1.000000  14216.000000    0.0
11                      max fns   1.000000   3386.000000    0.0
12                      max fps   0.000000  14276.000000  399.0
13                      max tps   0.000000   4545.000000  399.0
14                      max tnr   1.000000      0.995797    0.0
15                      max fnr   1.000000      0.744994    0.0
16                      max fpr   0.000000      1.000000  399.0
17                      max tpr   0.000000      1.000000  399.0

Gains/Lift Table: Avg response rate: 24.15 %, avg score: 24.20 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.064768,1.000000,3.937210,3.937210,0.950779,1.000000,0.950779,1.000000,0.255006,0.255006,293.720962,293.720962,0.250803
1,2,0.103608,0.739546,2.877764,3.540053,0.694938,0.765280,0.854872,0.912010,0.111771,0.366777,187.776378,254.005326,0.346953
2,3,0.157005,0.635145,2.764810,3.276392,0.667662,0.701506,0.791201,0.840417,0.147635,0.514411,176.480983,227.639179,0.471192
3,4,0.200414,0.539445,2.245383,3.053079,0.542228,0.572030,0.737275,0.782286,0.097470,0.611881,124.538324,205.307949,0.542464
4,5,0.310239,0.382546,1.624760,2.547456,0.392356,0.423342,0.615174,0.655220,0.178438,0.790319,62.475987,154.745581,0.632922
5,6,0.405026,0.169314,0.935447,2.170200,0.225897,0.249897,0.524072,0.560363,0.088669,0.878988,-6.455339,117.019956,0.624855
6,7,0.502311,0.071597,0.556360,1.857640,0.134353,0.116023,0.448593,0.474305,0.054125,0.933113,-44.364042,85.763969,0.567955
7,8,0.610276,0.008929,0.226208,1.569021,0.054626,0.029275,0.378896,0.395575,0.024422,0.957536,-77.379194,56.902145,0.457816
8,9,0.700919,0.002216,0.087384,1.377415,0.021102,0.005666,0.332626,0.345151,0.007921,0.965457,-91.261593,37.741492,0.348757
9,10,1.000000,0.000000,0.115499,1.000000,0.027891,0.000293,0.241486,0.242011,0.034543,1.000000,-88.450127,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.831014,0.007353,0.831612,0.832280,0.835962,0.836735,0.818479
1,auc,0.890227,0.008777,0.903643,0.886614,0.884851,0.894193,0.881832
2,err,0.168986,0.007353,0.168388,0.167720,0.164038,0.163265,0.181521
3,err_count,635.800000,19.005262,636.000000,637.000000,624.000000,616.000000,666.000000
4,f0point5,0.645454,0.006245,0.655087,0.642724,0.645225,0.646209,0.638027
5,f1,0.693665,0.013742,0.713514,0.683871,0.678350,0.699219,0.693370
6,f2,0.750004,0.027072,0.783383,0.730647,0.715062,0.761702,0.759226
7,lift_top_group,3.940280,0.162069,3.862101,4.105946,4.120065,3.848286,3.765000
8,logloss,0.680125,0.096233,0.529936,0.644635,0.775909,0.727527,0.722617
9,max_per_class_error,0.208533,0.036346,0.170551,0.234444,0.258174,0.190045,0.189451
10,mcc,0.588611,0.016529,0.611426,0.577568,0.573112,0.600552,0.580396
11,mean_per_class_accuracy,0.817912,0.012623,0.833772,0.809279,0.803207,0.827442,0.815858
12,mean_per_class_error,0.182088,0.012623,0.166228,0.190721,0.196793,0.172558,0.184142
13,mse,0.104155,0.003930,0.099860,0.103982,0.102996,0.103353,0.110583
14,pr_auc,0.757362,0.019997,0.789400,0.757610,0.753688,0.734390,0.751720
15,precision,0.616982,0.007238,0.621177,0.617937,0.624881,0.615120,0.605792
16,r2,0.431137,0.020816,0.467696,0.424923,0.423976,0.423904,0.415184
17,recall,0.793196,0.038732,0.838095,0.765556,0.741826,0.809955,0.810549
18,rmse,0.322685,0.006048,0.316006,0.322462,0.320930,0.321485,0.332541
19,specificity,0.842627,0.017531,0.829449,0.853002,0.864587,0.844929,0.821168

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2023-08-06 00:19:06,0.497 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0     relationship          1989.287964           1.000000    0.471900
1     capital.gain           583.914734           0.293530    0.138516
2       occupation           489.438843           0.246037    0.116105
3    education.num           372.863373           0.187436    0.088451
4              age           240.397781           0.120846    0.057027
5     capital.loss           168.586899           0.084747    0.039992
6   hours.per.week           142.032043           0.071398    0.033693
7   native.country            80.936600           0.040686    0.019200
8        workclass            54.894440           0.027595    0.013022
9   marital.status            42.187645           0.021207    0.010008
10          fnlwgt            25.389784           0.012763    0.006023
11            race            14.822160           0.007451    0.003516
12             sex            10.736643           0.005397    0.002547

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>F1-score</code> نام دارد و کلاس مثبت (<code>pos_label</code>) را معادل <code dir=ltr>>50K</code> فرض کرده‌ایم، به این معنی که مدل شما باید برای پیش‌بینی درست افراد پردرآمد عملکرد مناسبی داشته باشد.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه‌ی آموزش یا اعتبارسنجی ارزیابی کنید و طبق نتایج به‌دست‌آمده پارامترهای مدل خود را بهتر تنظیم کنید.
</font>
</p>

In [321]:
valid['income']
valid.drop('income')

age,workclass,fnlwgt,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
21,Private,57916,9,Never-married,Protective-serv,Own-child,White,Male,0,0,40,United-States
18,Private,127388,8,Never-married,Other-service,Not-in-family,White,Female,0,0,25,United-States
29,Private,29732,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,24,United-States
46,Private,369538,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
53,Private,83434,13,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Female,0,0,21,Japan
21,Private,221480,10,Never-married,Tech-support,Own-child,White,Female,0,0,25,Ecuador
42,Local-gov,1.12561e+06,9,Divorced,Other-service,Not-in-family,Black,Male,0,0,40,United-States
30,State-gov,242122,9,Separated,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States
33,Local-gov,292217,9,Divorced,Protective-serv,Unmarried,White,Male,0,0,40,United-States
52,Private,139347,9,Married-civ-spouse,Transport-moving,Wife,White,Female,0,0,40,United-States

In [322]:
from sklearn.metrics import f1_score
h2o_train_pr = model.predict(valid.drop('income'))
f1_score(h2o_train_pr.as_data_frame()['predict'], valid['income'].as_data_frame()['income'], pos_label='>50K')

drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%

0.694473409801877

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>66</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدل‌سازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در مجموعه‌ی آزمون استفاده کنید و نتایج را در یک دیتافریم تک‌ستونه با نام <code>submission</code> و در قالب زیر آماده کنید. توجه داشته باشید که ترتیب پیش‌بینی شما اهمیت دارد یعنی به عنوان مثال پیش‌بینی مدل برای نمونه‌ی آزمون <code>m</code>ام را باید در ردیف <code>m</code>ام این دیتافریم ذخیره کنید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|income|پیش‌بینی مدل شما (مقدار <code dir=ltr>>50K</code> یا <code dir=ltr><=50K</code>)|
    
</font>
</div>
</center>

In [323]:
predictions = model.predict(test_data=test_data_h2o)

drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%

c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'native.country' has levels not trained on: ["Holand-Netherlands"]
  warnings.warn(w)

In [324]:
submission = predictions['predict'].as_data_frame()

In [325]:
submission.columns = ['income']
submission

     income
0     <=50K
1     <=50K
2      >50K
3     <=50K
4     <=50K
...     ...
7159  <=50K
7160  <=50K
7161  <=50K
7162  <=50K
7163  <=50K

[7164 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [326]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)
file_names = ['income.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['income.ipynb', 'submission.csv']

<h4 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>راهنمایی</b>
</font>
</h4>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ۱. توازن مجموعه‌داده را بررسی و مدیریت کنید.
    <br>
    ۲. برای مقادیر گم‌شده چه در هنگام آموزش و چه هنگام آزمون چاره‌ای بی‌اندیشید.
    <br>
    ۳. مقادیر گم‌شده ممکن است با عبارت دیگری به جز مقدار <code>NaN</code> نشان داده شده باشد.
    <br>
    ۴. ویژگی‌های دسته‌ای را به‌خوبی مدیریت کنید. توجه داشته باشید که ممکن است در هنگام آزمون با دسته‌ای مواجه شوید که در نمونه‌های آموزشی رخ نداده باشد.
    <br>
    ۵. برای تعیین حداکثر عمق درخت می‌توانید یکبار درخت را به شکل آزاد و کامل بسازید، سپس عمق آن را مشاهده کنید. سپس می‌توانید مقادیر کمتر از آن را برای حداکثر عمق آزمایش و تحلیل کنید.
    <br>
    ۶. برای ارزیابی مدل خود و کشف مدل بهتر می‌توانید بخشی از مجموعه‌داده را به عنوان مجموعه‌ی اعتبارسنجی جدا کنید یا اینکه از تکنیک‌های اعتبارسنجی متقاطع (cross-validation) و مانند آن کمک بگیرید.
</font>
</p>